form {
    border: 1px solid black
}


    button {
        background-color: lightblue;
        color: black;
        padding: 10px;
        margin: 7px; 
        cursor: pointer; 
        width: 100%;
    }

    button:hover {
        opacity: 0.4;
    }

    .cancelbtn {
        width: auto;
        padding: 10px;
        background-color: red;
    }

